.wrap{
    width: 100%;
    padding: 160px 0;
}

.prodDetail_wrap{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    color: #6F4E37;
}

.product_img_wrap > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 5%;
}

.product_img_wrap{
    width: 28%;
    height: 700px;
    position: relative;
}

.prodDetail{
    width: 35%;
    margin-left: 150px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F9F5F0;
    border: 1px solid #6F4E37;
}

.prodDetail > h2{
    margin: 20px 0;
}

.prodDetail > p{
    width: 100%;
    font-size: 20px;
    font-family: 'Josefin Sans', 'Noto Sans TC', sans-serif;
}

.addToCartBtn{
    font-size: 20px;
    background-color: #fff;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #6F4E37;
    transition: background-color 0.6s ease, color 0.3s ease;
    color: #6F4E37;
}

.addToCartBtn:hover{
    background-color: rgba(87, 54, 10, 0.9);
    color: #fff;
}

.soldOut{
    font-size: 20px;
    border-radius: 7px;
    padding: 10px;
    /* cursor: pointer; */
    border: 1px solid #6F4E37;
    background-color: rgba(87, 54, 10, 0.9);
    color: #fff;
}

.counter_wrap{
    display: flex;
    font-size: 20px;
    margin-bottom: 80px;
}

.counter_wrap > button{
    padding: 0 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #6F4E37;
    cursor: pointer;
    transition: background-color 0.6s ease, color 0.3s ease;
    color: #6F4E37;
}

.counter_wrap > button:hover{
    background-color: rgba(87, 54, 10, 0.9);
    color: #fff;
}

.counter_wrap > p{
    margin: 0 20px;
}

.counter_wrap > p:first-child{
    color: #6F4E37;
    margin: 0 10px 0 0;
}

.back_product{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: -60px;
    left: 30px;
}
.back_product>a{
    text-decoration: none;
    font-size: 22px;
    color: #6F4E37;
}
.backicon{
    padding-right: 10px;
}

@media (max-width: 1199px) {
    .prodDetail_wrap {
      flex-direction: column;
      align-items: center;
    }
  
    .product_img_wrap {
      width: 90%;
      height: auto;
    }
  
    .product_img_wrap > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-left: 0;
    }
  
    .prodDetail {
      width: 90%;
      margin-left: 0;
      margin-top: 20px;
    }
    .back_product{
        left: 5px;
    }
  }

@media (max-width: 768px) {
    .wrap{
        padding: 50px 0;
    }
}